<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- Appenders -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="/*| %d{dd MMM yyyy} %d{HH:mm:ss.SSS} |%-5p|%-39c{3}| %-111m | %t | %-6r |*/%n" />
        </layout>
    </appender>

    <appender name="R" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="/logs/vertxplay/vertxplay.log"/>
        <param name="MaxBackupIndex" value="200"/>
        <param name="MaxFileSize" value="10000KB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="/*| %d{dd MMM yyyy} %d{HH:mm:ss.SSS} |%-5p|%-39c{3}| %-111m | %t | %-6r |*/%n"/>
        </layout>
    </appender>


	<!-- Root Logger -->
    <root>
        <level value="debug" />
        <!--
        <appender-ref ref="R" />
        -->
        <appender-ref ref="CONSOLE" />
    </root>
</log4j:configuration>